<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  <h1>Game server - lives at: <%= host%>:<%= port%> </h1>
  <h2>Connecting to master server at: <%= masterServerHost%>:<%= masterServerPort%> </h2>
  </body>
</html>
