<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Connecting to master server at: <%= master_server_host%>:<%= master_server_port%></h1>
  </body>
</html>
