@import 'variables';

body        { padding-top:80px; }

.fa-padding {
    padding-right:5px;
}

.loginModal .modal-dialog {
	min-width:400px;
}

.loginModal .modal-body {
	white-space:nowrap;
}

html, body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#renderCanvas {
    width   : 100%;
    height  : 100%;
    touch-action: none;
}
