<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <script src="http://cdn.babylonjs.com/2-2/babylon.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script> var googleClientId = '<%= googleClientId || null %>'</script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
</head>
<body>
  <canvas id="renderCanvas"></canvas>
  <div class="modal fade loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"> <span class="fa fa-lock fa-padding"></span>Welcome! </h2>
        </div>
        <div class="modal-body">
          <a class="main-login btn btn-success"><span class="fa fa-play fa-padding"></span> Play as Guest</a>

          <a class="btn btn-info btn-danger google-login" data-toggle="tooltip" data-placement="bottom" title="Log in with google plus and get things"><span class="fa fa-google-plus fa-padding"></span> Log in and Play</a>

          <a class="btn btn-info facebook-login" data-toggle="tooltip" data-placement="bottom" title="Log in with facebook and get stuff"><span class="fa fa-facebook fa-padding"></span> Log in and Play</a>
        </div>
        <div class="modal-footer">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <script src="bundle.js"></script>
</body>
</html>